<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            border-radius: 10px;
            border: 1px black solid;
        }
        td {
            padding: 10px;
        }
        thead, th {
            height: 50px;
            border-bottom: 1px black solid;
        }
        tr.header
        {
            cursor:pointer;
        }
        .newbutton {
            border-radius: 5px;
            background-color: transparent;
            height: 35px;
            width: 70px;
        }

    </style>
</head>
<body style="background-image: linear-gradient(to bottom, #2193b0, #6dd5ed); height: 100%; background-repeat: no-repeat; background-attachment: fixed;">
    <div class="container" >
        <center>
            <!-- <div></div> -->
            <table style="background-color: aliceblue; margin: 20px;">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Item Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in db_search %}
                        <tr class="header">
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[3]}}</td>
                        </tr> 
                        <tr class="hide">
                            <td align="center">
                                <a href="{{url_for('order', seller_email = row[1], item_name = row[2], item_type = row[4])}}"><button class="newbutton">Order</button></a>
                                
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
                3
            </table>
        </center>
    </div>
        


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('.hide').toggle();
        $('.header').click(function(){
            $(this).nextUntil('tr.header').toggle();
        });
        
    </script>

</body>
</html>