<html>
<head>
	
<title>{{name}}</title>
</head>

<body style="height: 92%;
  background: url('static/stationery1.jpg') no-repeat;
  background-size: cover;
	width: 100%;
	filter: blur(0px) brightness(59%) contrast(97%);">
	
	<h2><center>Hello {{name}}!!<center></h2>
		
		<center>
			<form action="/sell" method="POST">
				<button type="submit" name="sell">Sell</button>
			</form>
			<hr color="black" width="60px">
			<form action="/rent" method="POST">
				<button type="submit" name="rent">Rent</button>
			</form>
		</center>

	</body>

</html>