<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Oops</title>
 
 <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="{{url_for('static',filename='notfound.css')}}">

</head>
<body>

<div class="wrapper">
  <h1 style="font-family: 'Special Elite', cursive;">Hmm...🐮</h1>
  <p style="font-family: 'Special Elite', cursive;">It seems that you are enjoying StationeryHub too much, That You<br> lost Track 😆 <br>Let us help you to get back on track,by clicking home button!</p>
  <a href="/home">home</a><br/></div>
</div>
<div class="space">
  <div class="blackhole"></div>
  <div class="ship"></div>
</div>

</body>
</html>
