<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@500&display=swap" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Stationary Hub!!</title>
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static',filename='user.css')}}">
    
    <!-- import the webpage's javascript file -->
    <script src="{{ url_for('static',filename='user.js')}}" defer></script>
  </head>  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#" style="font-family:'Modak', cursive;">Stationary Hub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <div class="slideshow-container">

<div class="slideshow-container">
    <div class="center">
<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>

  <img src="images/user_img7.jpg" style="width:50%;height:50%;align-self: center; margin-left: 25%; margin-right: 25%;">
  <div class="text">Caption Text</div>
  </div>
  </div>
    <div class="center">
<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="images/user_img2.jpg" style="width:50%;height:50%; margin-left: 25%;margin-right: 25%;">
  <div class="text">Caption Two</div>
</div>
</div>
  <div class="center">
<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="images/user_img3.jpg" style="width:50%;height:50%; margin-left: 25%; margin-right: 25%;">
  <div class="text">Caption Three</div>
  </div>
</div>
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>
      
<hr class="solid">
<h2>More products for you!</h2>
<div class="row">
 




{%for i in range(1,6)%}
  <div class="col-lg-4">
    <div class="card cards-shadown cards-hover">
        <div class="card-header"><span class="space">
  <img src={{img_name[i]}} style="width:100%;height:100%;"></div>
           </span>
      <div class="card-body">
                <p class="card-text sub-text-color">Price:&#x20B9 {{price[i]}};</p>
                <p class="card-text cardbody-sub-text" style="color:Blue;font-weight: bold">Review:{{review[i]}}</p>
            </div>
    </div>
  </div>
    
{%endfor%}
    
 




    <!--<div class="col-lg-4">
    <div class="card cards-shadown cards-hover">
        <div class="card-header"><span class="space">
    <img src="images/user_img6.jpg" style="width:100%;height:100%;"></div>
           </span>
      <div class="card-body">
                <p class="card-text sub-text-color">Price:&#x20B9 000</p>
                <p class="card-text cardbody-sub-text" style="color:Blue;font-weight: bold">Review:</p>
            </div>
    </div>
  </div>
    <div class="col-lg-4">
    <div class="card cards-shadown cards-hover">
        <div class="card-header"><span class="space">
    <img src="images/user_img5.jpg" style="width:100%;height:100%;"></div>
           </span>
      <div class="card-body">
                <p class="card-text sub-text-color">Price:&#x20B9 000</p>
                <p class="card-text cardbody-sub-text" style="color:Blue;font-weight: bold">Review:</p>
            </div>
    </div>
  </div>
    <div class="col-lg-4" style="padding-top:7%">
    <div class="card cards-shadown cards-hover">
        <div class="card-header"><span class="space">
    <img src="images/user_img3.jpg" style="width:100%;height:100%; "></div>
           </span>
      <div class="card-body">
                <p class="card-text sub-text-color">Price:&#x20B9 000 <br></p>
                <p class="card-text cardbody-sub-text" style="color:Blue;font-weight: bold">Review:</p>
            </div>
    </div>
  </div>
    <div class="col-lg-4" style="padding-top:7%">
    <div class="card cards-shadown cards-hover">
        <div class="card-header"><span class="space">
    <img src="images/user_img2.jpg" style="width:100%;height:100%; "></div>
           </span>
      <div class="card-body">
                <p class="card-text sub-text-color">Price:&#x20B9 000</p>
                <p class="card-text cardbody-sub-text" style="color:Blue;font-weight: bold">Review:</p>
            </div>
    </div>
  </div>
      <div class="col-lg-4" style="padding-top:7%">
    <div class="card cards-shadown cards-hover">
        <div class="card-header"><span class="space">
    <img src="images/user_img6.jpg" style="width:100%;height:100%;"></div>
           </span>
      <div class="card-body">
                <p class="card-text sub-text-color">Price:&#x20B9 000</p>
                <p class="card-text cardbody-sub-text" style="color:Blue;font-weight: bold">Review:</p>
            </div>
    </div>
  </div>-->
      </div>
    </div> 
  <hr class="solid">
  <h2>History!</h2>
  <div class="row">
  <div class="col-lg-4">
    <div class="card cards-shadown cards-hover">
        <div class="card-header"><span class="space">
    <img src="images/user_img7.jpg" style="width:100%;height:100%;"></div>
           </span>
      <div class="card-body">
                <p class="card-text sub-text-color">Price:&#x20B9 000</p>
                <p class="card-text cardbody-sub-text" style="color:Blue;font-weight: bold">Review:</p>
            </div>
    </div>
  </div>
    <div class="col-lg-4">
    <div class="card cards-shadown cards-hover">
        <div class="card-header"><span class="space">
    <img src="images/user_img6.jpg" style="width:100%;height:100%;"></div>
           </span>
      <div class="card-body">
                <p class="card-text sub-text-color">Price:&#x20B9 000</p>
                <p class="card-text cardbody-sub-text" style="color:Blue;font-weight: bold">Review:</p>
            </div>
    </div>
  </div>
    <div class="col-lg-4">
    <div class="card cards-shadown cards-hover">
        <div class="card-header"><span class="space">
    <img src="images/user_img5.jpg" style="width:100%;height:100%;"></div>
           </span>
      <div class="card-body">
                <p class="card-text sub-text-color">Price:&#x20B9 000</p>
                <p class="card-text cardbody-sub-text" style="color:Blue;font-weight: bold">Review:</p>
            </div>
    </div>
  </div>
    </div>
     <p style="font-family: 'Lobster', cursive; text-align: center; padding-top: 7%;font-size: 30px">
       "Why to ask anyone if you have your own shop ¯\_(ツ)_/¯<br>
          Come n Grab your product at resonalble Price:)"
    </p>
  </body>
</html>
